form {
    border: 3px solid #000000;
    display: block;
    text-align: center;
  }

  input {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

  }

  button {
    background-color: #014691;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 15%;
  }

  button:hover {
    opacity: 0.8;
  }

  label{
    /*font-weight: initial;*/
    font-size: 18px;
}