<form [formGroup]="taskFormGroup" (ngSubmit)="onSubmit()">
  <!-- Estado del Formulario es {{taskFormGroup.valid}} -->
  <label>Título de la Tarea</label>
  <br/>
  <input type="text" formControlName="title" placeholder="Titulo de la Tarea">
  <br/><br/>
  <label>Código de la Tarea</label>
  <br/>
  <input type="number" formControlName="code" placeholder="Codigo de la Tarea">
  <br/><br/>
  <label>Fecha de final de Tarea</label>
  <br>
  <input type="date" formControlName="endDate">
  <br/><br/>
  <label>Fecha de inicio de Tarea</label>
  <br>
  <input type="date" formControlName="startDate">
  <br/><br/> 

  <label>Estado de la Tarea</label>
  <br>
  <select formControlName="status">
    <option selected="selected" value="Created">Creada</option>
    <option value="Progress">En Progreso</option>
    <option value="Finished">Terminada</option>
    </select>
    <br><br>
    <label>HasgTags de la Tarea</label>
    <br>
    <input type="Array" formControlName="hashtags" placeholder="HashTags">
    <br/><br/>
    <label>Prioridad de la Tarea</label>
    <br>
    <select formControlName="priority">
      <option selected="selected" value="Critic">Critica</option>
      <option value="High">Alta</option>
      <option value="Medium">Media</option>
      <option value="Slow">Baja</option>
      <option value="Very Slow">Muy Baja</option>
      </select> 
      <br><br>
      <label>Nivel de Complejidad de la Tarea</label>
      <br><br>
      <select formControlName="complexLevel">
        <option selected="selected" value="one">1</option>
        <option value="two">2</option>
        <option value="three">3</option>
        <option value="four">4</option>
        <option value="five">5</option>
        <option value="six">6</option>
        <option value="seven">7</option>
        <option value="eight">8</option>
        <option value="nine">9</option>
        <option value="ten">10</option>
        </select> 
        <br><br>

  <button [disabled]="!taskFormGroup.valid">Agregar Tarea!</button>
</form>